rag:
  provider: custom
  indexCommand: "tsx .continue/rag/index.ts"
  queryCommand: "tsx .continue/rag/query.ts"

vectorDb:
  provider: qdrant
  url: "http://design:6333"
  collection: "Continue.RAG"

embeddings:
  model: "nomic-embed-text:latest"

fileGlobs:
  - "src/**/*.ts"
  - "src/**/*.js"
  - "src/**/*.md"
  - "src/**/*.py"
  - "src/**/*.go"
  - "src/**/*.cs"

ignore:
  - "node_modules/**"
  - ".git/**"
  - ".gitignore"
  - "dist/**"
  - "build/**"
  - "__pycache__/**"
  - "*.pyc"
